IndentWidth: 4
AllowShortLoopsOnASingleLine: true
AllowShortBlocksOnASingleLine: Always
ColumnLimit: 80
BinPackParameters: false
BinPackArguments: false
AllowAllParametersOfDeclarationOnNextLine: false
AlignConsecutiveMacros: Consecutive
FixNamespaceComments: false
NamespaceIndentation: All
AlignConsecutiveAssignments: Consecutive
AlignEscapedNewlines: Left
AlignOperands: Align
AlignTrailingComments: true
AllowAllArgumentsOnNextLine: false
PenaltyBreakAssignment: 50
PointerAlignment: Left
ReferenceAlignment: Left
